{% extends "base.html" %}

{% block title %} RECIPES {% endblock %}

{% block content %}


<div class="container">
    <!--Barra de navegacion -->
    <nav class="navbar" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <a class="nav-link" aria-current="page" href="/">Back to recipes</a>
            <a class="nav-link" aria-current="page" href="/salir">Logout</a>
        </div>

    </nav>

    <!-- Para Añadir la Receta -->
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Update Recipe</h1>
            <form class="card shadow-sm p-4" method="post" action="/recipe/update">
                <input type="hidden" name="id" value="{{recipe.id}}">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name:</label>
                        <input type="text" class="form-control" id="name" name="name" value="{{recipe.name}}">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description:</label>
                        <input type="text" class="form-control" id="description" name="description"
                            value="{{recipe.description}}">
                    </div>
                    <div class="mb-3">
                        <label for="instruction" class="form-label">Instructions:</label>
                        <textarea type="text" class="form-control" id="instruction"
                            name="instruction">{{recipe.instruction}}</textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="made" class="form-label">Dated Cooked/Made:</label>
                        <input type="date" class="form-control" id="made" name="made" value="{{recipe.made}}">
                    </div>
                    <div>
                        <h2>Under 30 minutes?</h2>
                        <div class="form-check form-check-inline">
                            <label for="time_preparation_yes" class="form-label">Yes</label>
                            <input type="radio" class="form-check-input" id="time_preparation_yes"
                                name="time_preparation" value="Yes">
                        </div>
                        <div class="form-check form-check-inline">
                            <label for="time_preparation_no" class="form-label">No</label>
                            <input type="radio" class="form-check-input" id="time_preparation_no"
                                name="time_preparation" value="No">
                        </div>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary mt-3">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}